@model OtobusProje.Models.Bilet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bilet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BiletId" class="control-label"></label>
                <input asp-for="BiletId" class="form-control" />
                <span asp-validation-for="BiletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YolcuId" class="control-label"></label>
                <select asp-for="YolcuId" class ="form-control" asp-items="ViewBag.YolcuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeferId" class="control-label"></label>
                <select asp-for="SeferId" class ="form-control" asp-items="ViewBag.SeferId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KoltukNo" class="control-label"></label>
                <input asp-for="KoltukNo" class="form-control" />
                <span asp-validation-for="KoltukNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatisTarihi" class="control-label"></label>
                <input asp-for="SatisTarihi" class="form-control" />
                <span asp-validation-for="SatisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
