@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<h2>Gizlilik Politikası</h2>
<p>Otobüsüm.com olarak kullanıcılarımızın gizliliğini önemsiyoruz.</p>
<ul>
    <li>Kişisel bilgileriniz yalnızca bilet işlemleriniz için kullanılacaktır.</li>
    <li>Bilgileriniz üçüncü kişilerle paylaşılmayacaktır.</li>
    <li>Ödeme bilgileriniz sistemimizde saklanmaz.</li>
</ul>
<p>Her türlü soru için bizimle iletişime geçebilirsiniz: info@otobusum.com</p>
