@model OtobusProje.Models.FirmaYorum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FirmaYorum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma.FirmaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yorum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yorum.YorumId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YorumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
